<template name="rmAdminHome">

    <div id="content">
        {{> rmAdminNav}}


        <div class="container">
            <div class="text-center">
                <h1>Hello Reactive Meteor Admin!</h1>
                <p>
                    Quisque id odio. Praesent egestas tristique nibh. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Cras sagittis. Cras non dolor.

                    Donec vitae orci sed dolor rutrum auctor. Phasellus tempus.. Fusce commodo aliquam arcu. Suspendisse eu ligula.
                </p>
                <p>
                    Quisque id odio. Praesent egestas tristique nibh. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Cras sagittis. Cras non dolor.

                    Donec vitae orci sed dolor rutrum auctor. Phasellus tempus.. Fusce commodo aliquam arcu. Suspendisse eu ligula.
                </p>
                <p>
                    Project Link: <a href="#">Live Demo</a><br />
                    Github Repo: <a href="#">Contribute</a>
                </p>
            </div>
        </div>

        {{> rmFooter}}

    </div>

</template>
